.biblioteca-container {
    background-color: var(--color-mid-grey);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    padding: 5rem;
    margin-bottom: 10rem;
}

.nome-widget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    & h3{
        color:var(--color-light);
        font-weight: 600;
        margin-bottom: 3px;
    }

    & p {
        color: var(--color-light-grey);
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.biblioteca {
    display: grid;
    grid-template-areas:
    'box1 box2 box2 box2'
    'box3 box3 box3 box4';
    width: 100%;
    row-gap: 4rem;
}

.grafico-1 {
    background: var(--color-widgets);
    border-radius: 10px;
    width: 35rem;
    height: 35rem;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: grab;
    padding: 4px 2px 4px 2px;
    grid-area: box1;
    margin-top: 20px;
}

.chart4-text {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 25px;
    & p {
        color:var(--color-light-grey);
        font-size: 1.2rem;
        font-weight: 300;
        margin: 2px;
    }

    & span {
        font-size: 2rem;
        font-weight: 700;
    }

}

.chart4-line{
    width: 100%;
    height: 2px;
    background-color: var(--color-grey);
}

.chart-container4 {
    width: 80%;
    height: 16rem;
    display: flex;
    justify-content: center;
    margin: auto;
}


.grafico-2 {
    background: var(--color-widgets);
    width: 95%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: auto;
    grid-area: box2;
}


.chart5-text {
    width: 90%;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 45px;
    & p {
        color:var(--color-light-grey);
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 5px;
    }

    & span {
        font-size: 2rem;
        font-weight: 700;
    }
}

.chart5-line{
    width: 100%;
    height: 1px;
    background-color:var(--color-light-grey);
}

.chart-container5 {
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: center;
    margin: auto;
}

.grafico-3 {
    background: var(--color-widgets);
    width: 85%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    grid-area: box3;
}


.chart6-text {
    width: 90%;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 45px;
    & p {
        color:var(--color-light-grey);
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 5px;
    }

    & span {
        font-size: 2rem;
        font-weight: 700;
    }
}

.chart6-line{
    width: 100%;
    height: 1px;
    background-color:var(--color-light-grey);
}

.chart-container6 {
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: center;
    margin: auto;
}


